/*--------------------------------------------------------------
# Theme Variables
--------------------------------------------------------------*/
$f-primary: 'acumin-pro-condensed', sans-serif;
$f-secondary: 'acumin-pro-condensed', sans-serif;

// Colors
$c-blue: #1f4b8e;
$c-red: #ec1c24;
$c-green: #61a83d;

// Bootstrap Colors
$primary: $c-blue;
$secondary: $c-green;

// Bootstrap Typography
$font-family-base: $f-primary;
$link-color: $primary;

// Bootstrap Typography
$headings-font-family: $f-primary;
// $h1-font-size:	170px;
// $h2-font-size:	60px;
// $h3-font-size:	45px;
// $h4-font-size:	32px;
// $h5-font-size:	30px;
// $h6-font-size:	24px;


// $display1-size: 120px;